body{
    background: #fff;
    /* margin: 0 20px; */
    
}
.result-infobar{
    max-height: fit-content;
    margin-bottom: 20px;
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgb(86,89,89); */
    box-shadow: 0px 4px 6px rgba(86,89,89 0.1);
    font-size: 14px;
}
.result-infobar span{
    color: rgb(209, 73, 0);
}

.sort-by{
    border: 1px solid rgb(86,89,89);
    border-radius: 10px;
    padding:3px 5px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
    
}
.sort-by a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(86,89,89);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.sort-by a i{
    font-size: 16px;
}
.result-infobar p{
    margin: 8px 0 ;
}
.content{
    display: flex;
    margin: 0 5px;
    padding-top: 15px;
}
.left-side{
    width: 15%;
    max-height: 100%;
    padding-right: 14px;
}
.right-side{
    width: 90%;
    height: 100%;
}
.h-line{
    padding: 1px;
    border: 1px solid #d5d9d9 ;
    border-top-width: 0;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
}

/* *******filter section******* */
.filter-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.filtersection{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 20px;
}
.filtersection p{
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
}
.filtersection a{
    text-decoration: none;
    color:#0F1111 ;
    font-size: 13px;
}
a:hover{
    text-decoration: underline;
    color: rgb(209, 73, 0);
}
.filter-options{
    display: flex;
    flex-direction: column;
}

.star{
    display: flex;
    align-items: center;
}
.top-text{
    margin-right: 10px;
    padding: 5px 0;
}
.top-text h2{
    font-size: 16px;
    
}
.top-text p{
    color: #9d9e9e;
    font-size: 13px;
    margin-bottom: 5px;
}

/* *************product card*************** */
.display-row{
    width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 12px;
}
.product-card{
    max-width: 230px;
    line-height: 20px;
    text-align: left;
    margin: 0 5px;
    margin-bottom: 10px;
    box-shadow: 5px 0px 5px rgba(0,0,0,0.1),0px 5px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}
.image-container{
    padding: 0 8px;
    margin-bottom: 8px;
    /* background-color: #d5d9d9; */
}
.product-details{
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.card-rating{
    display: flex;
    align-content: center;
    gap: 10px;
}
.card-rating-count{
    font-size: 12px;
    color: #007185;
}
.card-rating-count:hover{
    text-decoration: underline;
}
.card-title{
    margin-bottom: 10px;
    
}
.purchase-info{
    margin-bottom: 10px;
    color: #9d9e9e;
    font-size: 13px;
}
.card-price{

}
.action-btn{
    width: 45%;
    margin:10px 0;
    
    border-radius: 15px;
    border: 1px solid rgb(86,89,89);
    display: flex;
    align-items: center;
    justify-content: center;
}
.action-btn a{
    text-decoration: none;
    color: #0F1111;
}