@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body{
    background: #dadada;
}

a{
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    background: #131921;
    padding: 10px 20px;
    color: #fff;
}

/* .dotNp{
    position: relative;
    margin-top: -50px;    
} */

.nav-country{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}

.nav-country h1{
    color: #fff;
    font-size: 14px;
}

.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 726px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category{
    display: flex;
    align-items: center;
    padding: 13px 15px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px;
}

.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
    font-size: 15px;
}

.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
}

.nav-language{
    display: flex;
    align-items: center;
    margin-left: 13px;
    padding: 6px;
    margin-top: 12px;
    font-size: 14px;
    list-style: 15px;
    font-weight: 700;
    gap: 2px;
}

.line1{
    padding-bottom: 2px;
    padding-right: 8px;

}

.nav-text{
    margin-left: 15px;
    
}

.nav-text p{
    font-size: 13px;
    color: #c4c4c4;
}

.nav-text h1{
    color: #fff;
    font-size: 14px;
}

.nav-cart{
    /* position: relative; */
    display: flex;
    align-items: center;
    margin-left: 14px;
    
}

.nav-cart-count-container {
    position: relative;
    padding-top: 4px;
    margin-right: -7px;
}

.nav-cart-count-container label{
    position: absolute;
    left: 17px;
    right: auto;
    top: 5px;
    justify-content: center;
    -webkit-box-pack: center;
    color: orange;
    font-size: 14px;
}
.nav-cart-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding-bottom: 2px ;
}
.nav-cart-text-container h1{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.white-boader{
    padding: 5px;
    border: 2px solid transparent;
}

.white-boader:hover{
    border: 2px solid #fff;
}

